.swiper-wrap{
    width: 500px;
    height: 300px;
    position: relative;
    border: 1px solid #707;
    margin: 20px auto;
}

.swiper-wrap button {
    position: absolute;
    top: 40px;
    width: 60px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.left {
    left: 20px;
}
.right{
    right: 20px;
}
.swiper-wrap img{
    display: none;
    width: 100%;
    height: 100%;
}
.swiper-wrap .show{
    display: block;
}