.search-x-wrap{
    display: flex;
    justify-content: space-between;
}

.search-left{
    display: flex;
    flex: 1;
    flex-direction: column;
    border: 1px solid #ddd;
    
}

.search-right{
    width: 60px;
}