.filter-wrap{
    margin: 50px;
    display: flex;
    align-items: center;

}

.table-wrap{
    margin: 50px;
}

.table{
   
    /* min-height: 30px; */
    border: 1px solid #ddd;
}
.table-line{
    display: flex;
    align-items: center;
}
.table-line div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
}
.table-line div:nth-child(1){
    flex: 2;
}
.table-line div:nth-child(2){
    flex: 1;
}
.table-line div:nth-child(3){
    flex: 6;
}
.table-line div:nth-child(4){
    flex: 2;
}