.mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
.tip{
    color: tomato;
}
.btns{
    display: flex;
    align-items: center;
    /* justify-content: ; */
}
.btn{
    margin: 0 8px;
    padding: 5px 10px;
}
.add-title{
    margin: 15px 0;
}



.list{
    width: 100%;
}
.item{
    height: 50px;
    display: flex;
    align-items: center;
    background: white;
    border-bottom: 5px solid gray;
}
.item-left{
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 21px;
    -webkit-border-radius: 21px;
    -moz-border-radius: 21px;
    -ms-border-radius: 21px;
    -o-border-radius: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
    margin-left: 10px;
    color: greenyellow;
}
.red-border{
    border: 1px solid tomato;
}
.finish{
    text-decoration: line-through;
    color: grey;
}